deployment/Data Pipe.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"PowerBIDatasets testf1":{"type":"string"}},"variables":{},"resources":[{"name":"Data Pipe","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Loop","type":"ForEach","dependsOn":[],"typeProperties":{"items":{"value":"@pipeline().parameters.YearsToProcess","type":"Expression"},"isSequential":true,"activities":[{"name":"Bronze","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"9aa4ab80-c856-4855-986a-88714b8e401c","workspaceId":"399cf811-13f0-4d3d-80bb-5f12b960d7a3","parameters":{"YEAR":{"value":{"value":"@item()","type":"Expression"},"type":"string"}}}},{"name":"Silver","type":"TridentNotebook","dependsOn":[{"activity":"Bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"4d07bca3-760e-42b6-b4a6-278e3cc5420a","workspaceId":"399cf811-13f0-4d3d-80bb-5f12b960d7a3","parameters":{"YEAR_PARAM":{"value":{"value":"@item()","type":"Expression"},"type":"string"}}}}]}},{"name":"Gold","type":"TridentNotebook","dependsOn":[{"activity":"Loop","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"f8bb5bee-c1d9-4fbd-b73d-db443b4b1eea","workspaceId":"399cf811-13f0-4d3d-80bb-5f12b960d7a3"}},{"name":"Model F1 Refresh","type":"PBISemanticModelRefresh","dependsOn":[{"activity":"Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"post","groupId":"399cf811-13f0-4d3d-80bb-5f12b960d7a3","datasetId":"9d368b1c-2a48-4d32-9481-f16748fa2d37","commitMode":"Transactional","waitOnCompletion":true,"operationType":"SemanticModelRefresh"},"externalReferences":{"connection":"[parameters('PowerBIDatasets testf1')]"}}],"parameters":{"YearsToProcess":{"type":"array","defaultValue":[2023,2024,2025]}},"variables":{"YearsToProcess":{"type":"Array"}},"lastModifiedByObjectId":"629439b7-e875-4382-9f81-80a3d30e651b","lastPublishTime":"2026-02-18T17:43:21Z"},"dependsOn":[]}]}